<!-- info section -->

<section class="info_section layout_padding2-top">
    {{!-- <div class="container">
        <div class="info_form">
            <h4>
                Our Newsletter
            </h4>
            <form action="">
                <input type="text" placeholder="Enter your email">
                <div class="d-flex justify-content-end">
                    <button>
                        subscribe
                    </button>
                </div>
            </form>
        </div>
    </div> --}}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h6>
                    About Energym
                </h6>
                <p>
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim
                    ad
                    minim veniam, quis nostrud exercitation u
                </p>
            </div>
            <div class="col-md-2 offset-md-1">
                <h6>
                    Menus
                </h6>
                <ul>
                    <li class=" active">
                        <a class="" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="">
                        <a class="" href="/about">About </a>
                    </li>
                    <li class="">
                        <a class="" href="/service">Services </a>
                    </li>
                    <li class="">
                        <a class="" href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>
                    Quick Links
                </h6>
                <ul>
                    <li>
                        <a href="#">
                            Term & Conditions
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Refund policy
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>
                    Contact Us
                </h6>
                <div class="info_link-box">
                    <a href="">
                        <img src="images/location-white.png" alt="">
                        <span> A-43, Sector 16, Noida</span>
                    </a>
                    <a href="tel:+919873848046">
                        <img src="images/call-white.png" alt="">
                        <span>+91-987384846</span>
                    </a>
                    <a href="mailto:vishankchauhan@gmail.com">
                        <img src="images/mail-white.png" alt="">
                        <span> vishankchauhan@gmail.com</span>
                    </a>
                </div>
                <div class="info_social">
                    <div>
                        <a href="">
                            <img src="images/facebook-logo-button.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="images/twitter-logo-button.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="images/linkedin.png" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <img src="images/instagram.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>

<script>
    function openNav() {
        document.getElementById("myNav").classList.toggle("menu_width");
        document
            .querySelector(".custom_menu-btn")
            .classList.toggle("menu_btn-style");
    }
</script>
</body>

</html>